h1{
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: "Handfine";
    font-size: xx-large;
}
@font-face {
    font-family: "Ready_to_party";
    src: url('Ready\ to\ Party.ttf');
}
@font-face {
    font-family: "Handfine";
    src: url('Handfine.ttf');
}
.card-title{
    font-family: "Ready_to_party";
    font-size: xx-large;
}
.card-text{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 img{
    width: 30px;
    height: 30px;
}
.container{
    align-items: center;
    
}


